.about {
  width: 90%;           
  margin: 80px auto;       
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.about-left {
    flex-basis: 40%;
    position: relative;
}

.about-img {
    width: 100%;
    border-radius: 10px;
}

.play-icon-img {
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.about-right {
    flex-basis: 56%;
}

.about-right h3 {
    color: #212EA0;
    font-size: 18px;
    font-weight: 600;
}

.about-right h2 {
    font-size: 35px;
    font-weight: 700;
    color: #000f38;
    margin: 10px 0;
    max-width: 400px;
}

.about-right p {
    text-align: justify;
    font-size: 15px;
    color: #676767;
    margin-bottom: 15px;
}

/* Media Query */
@media (max-width:1250px) {
    .about-right p {
        font-size: 14px;
    }
}

@media(max-width:1050px) {
    .about-right p {
        font-size: 13px;
    }

    .about-right h3 {
        font-size: 16px;
    }

    .about-right h2 {
        font-size: 32px;
    }
}

@media (max-width:991px) {
    .about {
        flex-direction: column;

    }

    .about-left {
        flex-basis: 100%;
        order: 2;
    }

    .about-right {
        flex-basis: 100%;
    }

    .about-right h3{
        font-size: 18px;
    }

    .about-right h2{
        font-size: 35px;
    }
    .about-right p{
        font-size: 15px;
    }
}

@media (max-width:576px){
    .about-right h3{
font-size: 16px;
    }
    .about-right h2{
        font-size: 25px;
    }
    .about-right p{
        font-size: 13px;
    }
}