.home-section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)), url("../../assets/images/hero.png");
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-text {
    text-align: center;
    max-width: 800px;
}

.home-text h1 {
    font-size: 60px;
    font-weight: 600;
}

.home-text p {
    font-size: 16px;
    font-weight: 400;
    max-width: 700px;
    letter-spacing: .5px;
    margin: 10px auto 20px;
    line-height: 1.5;
}

/* Media Query */
@media (max-width:850px) {
    .home-text h1 {
        font-size: 45px;
    }

}

@media (max-width:650px) {
    .home-text h1 {
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }

    .home-text p {
        font-size: 13px;
        margin: 15px auto 30px;
    }

}

@media (max-width:425px){
    .home-text h1{
        font-size: 27px;
    }

    
}