.Campus{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}

.Gallery-photos{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:40px ;
}

.Gallery-photos img{
    width: 23%;
    border-radius: 10px;
}

/* Media Query */

@media (max-width:767px){
    .Gallery-photos{
        flex-wrap: wrap;
    }
    .Gallery-photos img{
        width: 48%;
        margin-bottom: 25px;
    }
}
