.contact{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 80px auto;
    width: 90%;
}

.contact-col{
    flex-basis: 48%;
    color: #676767;
}

.contact-col h3{
    font-size: 25px;
    font-weight: 500;
    color: #000f38;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-col h3 img{
    width: 35px;
    margin-left: 10px;
}

.contact-col p{
    text-align: justify;
    font-size: 15px;
}

.contact-details p{
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 20px;
}

.contact-details img{
    width: 25px;
    margin-right: 10px;
}


.contact form input, .contact form textarea { 
    display: block;
    font-size: 15px;
    width:100%;
    background: #e6e7ed;
    padding: 15px;
    border: 0;
    border-radius: 10px;
    outline: 0;
    margin-top: 5px;
    margin-bottom: 15px;
    resize:none
}

.contact-col span{
    display: block;
    margin: 20px 0;
}

/* Media Query */
@media (max-width:767px){
    .contact {
        display: block;
    }

    .contact-col{
        padding: 20px;
    }
}





