.Programs {
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.program-section {
    flex-basis: 31%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.program-section img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.caption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    color: white;
    background-color: rgba(0, 15, 152, 0.3);
    padding-top: 70%;
    transition: 0.4s ;
}

.caption img {
    width: 60px;
    margin-bottom: 10px;
}

.program-section:hover .caption {
    opacity: 1;
    padding-top: 0;
}

/* Media Query */
@media(max-width:767px){
    .Programs{
        flex-direction: column;
    }

    .program-section{
        flex-basis: 100%;
        margin: 20px;
    }
}